.section__4 {
    margin-bottom: 100px;

    .fixed__item {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 500px;
        width: 1000px;
        transition: all 0.7s;
        z-index: 700;
    }

    .flex__items {
        @include flex(space-between);
        background-color: $color-grey-light-1;
        gap: 30px;
        padding: 0 50px 100px 0;
        position: relative;


        .img {
            width: 35%;
        }

        img {
            width: 100%;
        }

        .mark {
            position: absolute;
            cursor: pointer;
            top: 5px;
            right: -10px;
            color: #333;
            font-size: 20px;
            background-color: $color-primary;
            width: 30px;
            height: 30px;
            @include flex(center);
            border-radius: 50%;
            color: #eee;
            transition: all 0.7s;

        }

        .flex__right {
            position: relative;
            width: 70%;

            h4 {
                font-size: 40px;
                @include heading();
                margin: 0;
                text-transform: capitalize;
                margin-bottom: 20px;
                width: 80%;

            }
        }

        .double__line {
            @include flex(space-around);
            gap: 20px;
            margin-top: 30px;

            p {
                line-height: 25px;
                font-size: 14px;
                text-align: justify;
                color: $color-grey-dark;
            }

            .hline {
                width: 10px;
                height: 250px;
                background-color: #777;
            }
        }

        .read {
            font-size: 18px;
            color: #777;
            text-align: center;
            text-transform: uppercase;

        }

        .btns {
            position: absolute;
            bottom: 50px;
            left: 40%;
            padding: 20px;
            border-radius: 100px;
            border: none;
            background: $color-primary;
            text-transform: capitalize;
            color: #fff;
            font-size: 16px;
            width: 150px;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }


    }

}

.fixed__item.active {
    top: -1000px;
    transition: 0.7s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 600;
    opacity: 0.9;
}

.overlay.hidden {
    opacity: 0;
    visibility: hidden;
}